# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment files
.env
.env.local
.env.*.local

# Docker
.docker/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo
*~

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env/
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars 